@media (max-width : 810px) {

  .framer-ZfaKR .framer-tjlozw,
  .framer-ZfaKR .framer-1lnydcr {
    margin-top: -10px;
  }

  .framer-ZfaKR .framer-naurji {
    bottom: -201px !important;
    left: -204px !important;
  }

  .hiddentab,
  .desktophidden {
    display: none !important;
  }

  .heromobile {
    display: block !important;
  }

  a[data-framer-page-link-current],
  a[data-framer-page-link-current] span:not([data-text-fill]) {
    font-size: 126px !important;
    line-height: 0.7 !important;
  }

  .framer-ZfaKR .framer-u1nzgi {
    gap: 5px !important;
    max-width: 1180px !important;
    height: 125vw;
  }

  a.framer-text {
    font-family: Panchang, sans-serif !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    font-stretch: 100% !important;
    text-transform: uppercase !important;
    opacity: 1 !important;
    letter-spacing: 1px;
  }

  #nav {
    text-transform: uppercase !important;
    display: flex !important;
    gap: 325px !important;
    align-content: center !important;
    justify-content: center !important;
    padding: 10px !important;
    margin-left: -20px !important;
  }

  .framer_hero_main {
    height: 700px !important;
    gap: 0 !important;
  }

  .framer_hero_img {
    max-width: 200px !important;
    height: auto !important;
  }

  .framer_hero_img2,
  .framer2_hero_img2 {
    margin-left: -100px !important;
    margin-right: -260px !important;
  }

  .framer2_hero_img2 {
    margin-top: 0px;
  }

  .logo-carousel {
    height: 110px !important;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0 0 0 / 0%) 35%, rgba(0, 0, 0, 0.525) 40%, rgba(0, 0, 0, 0.405) 63%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%) !important;
  }

  .framer-logo-img {
    width: 95px !important;
  }

  #download2 {
    height: 735px !important;
    margin-bottom: 60px;
  }

  .logo-list {
    gap: 40px !important;
    animation: slideshow 40s linear infinite !important;
  }

  .framer-ZfaKR .framer-1hkre34 {
    height: 170px !important;
    padding: 10px 20px 5px !important;
    width: 1218px !important;
    margin-left: 40px !important;
    margin-top: 0 !important;
  }

  .framer-ZfaKR .framer-u1nzgi {
    align-content: flex-start !important;
  }

  .framer-4l2iB .framer-16mwlug-container {
    flex: none !important;
    height: 33px !important;
    position: relative !important;
    width: 24px !important;
  }

  .framer-ZfaKR .framer-tjlozw {
    width: 95% !important;
    height: 450px !important;
    padding: 25px !important;
    border-radius: 25px !important;
  }

  .framer_image_col {
    gap: 1px !important;
    margin-top: 75px;
    max-height: 373px;
  }


  .background-image-wrapper img {
    width: 210px !important;
  }

  .framer_hero_para {
    align-items: center !important;
    height: 98px !important;
  }

  .framer_hero_para p {
    max-width: 365px !important;
  }

  .next-svg,
  .prev-svg {
    height: 25px;
    width: 25px;
  }

  .phones-row {
    height: 425px !important;
    gap: 5px;
  }



  #parallax-duo {
    margin-top: 30px !important;
    height: 434px !important;
  }

  .pagination-controls2 {
    margin-top: -314px !important;
    margin-left: 344px !important;
    position: relative;
    z-index: 1000;
  }

  .text-carousel-main {
    justify-content: center !important;
    height: 330px !important;
    gap: 316px !important;
  }

  #text-carousel {
    height: 475px !important;
    width: 450px !important;
    margin-top: -25px;
  }

  .text-content {
    margin-top: 30px;
    z-index: 1;
    width: 85%;
  }

  .Text-carousel-heading {
    width: 335px !important;
    font-size: 22px !important;
  }

  .Text-carousel-heading2 {
    width: 335px !important;
    font-size: 22px !important;
  }

  #download {
    padding: 0 10px 10px;
    margin-top: -12px;
  }


  .download-button {
    margin-top: -64px !important;
    justify-content: center !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .download-button button {
    font-size: 12px !important;
    padding: 4px 75px !important;
    width: 360px !important;
    gap: 10px !important;
    margin-top: 100px !important;
    align-items: center;
  }

  .download-button button svg {
    transition: transform 0.5s ease;
    width: 24px;
  }

  .pagination-controls {
    margin-left: 13px !important;
    margin-top: 30px;
    position: relative;
    z-index: 100;
  }

  .Text-carousel-body {
    width: 336px !important;
  }

  .text-block {
    font-size: 22px !important;
    line-height: 31px !important;
    min-width: 350px !important;
    margin-left: 12px !important;
    position: relative;
    width: 45vw;
  }

  .text-block p {
    height: 200px !important;
  }



  #phone-carousel {
    display: none !important;
  }

  .ParallaxPhoneCarousel {
    display: block !important;
    height: 760px !important;
  }

  .Text-body {
    display: none !important;
  }

  .pricing-text {
    width: 100% !important;
    justify-content: center !important;
    padding: 0px !important;
  }

  .Text-heading {
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 28px !important;
    width: 410px !important;
  }

  .basic_plan {
    padding: 30px 15px !important;
    width: 420px !important;
    min-width: 342px !important;
    height: 316px !important;
    border-radius: 30px !important;
    gap: 17px !important;
    justify-content: unset !important;
  }

  .price {
    font-size: 28px !important;
  }

  .price span {
    font-size: 13px !important;
    line-height: 23px !important;
  }

  .plans-download-button {
    width: 385px !important;
    gap: 10px !important;
  }

  .svg {
    width: 40px !important;
  }

  .plan-features {
    gap: 7px !important;
  }

  .plan-features svg {
    /* margin-right: 10px !important; */
    // width: 22px !important;
  }

  .advance_plan {
    padding: 30px 15px !important;
    width: 425px !important;
    min-width: 350px !important;
    height: 425px !important;
    border-radius: 30px !important;
    gap: 15px !important;
  }

  .ghoBeu {
    padding: 2px !important;
    width: 390px !important;
  }

  .iLjptn {
    padding: 1px !important;
    font-size: 14px !important;
  }

  .jnUJPg {
    padding: 5px !important;
    font-size: 14px !important;
  }

  .pointvalue {
    font-size: 12px !important;
  }

  #text-carousel2 {
    height: 329px !important;
    // margin-top: 20px;
    margin-bottom: 205px;
  }


  .text-carousel-main2 {
    width: 380px !important;
    height: 280px;
  }

  .Text-carousel-body2 {
    font-size: 18px !important;
    line-height: 23px !important;
    margin-top: 15px !important;
    width: 303px !important;
  }

  .banner-section2 {
    height: 510px !important;
  }

  .framer_image_col2 {
    margin-top: 90px !important;
    gap: 0px !important;
  }

  .framer_hero_para2 {
    padding: 40px 180px !important;
  }

  .framer_hero_para2 p {
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 0px;
    width: 386px !important;

  }

  .framer_hero_button2 {
    width: 370px !important;
    font-size: 12px;
  }

  .framer_hero_main2 {
    justify-content: start !important;
    align-items: center !important;
    width: 100% !important;
    gap: 0px !important;
    height: 520px !important;
  }

  .framer_hero_button {
    padding: 6px 10px !important;
    width: 359px !important;
    margin-top: 10px;
    font-size: 12px;
  }

  .framer_hero_button svg {
    width: 24px !important;
  }

  .framer-text2 {
    font-size: 132px !important;
    margin-left: 305px !important;
  }

  .features {
    display: none !important;
  }

  .svg2 {
    width: 24px !important;
  }

  .icon-container svg {
    width: 24px !important;
  }

  .nav {
    flex: 1 !important;
    display: flex !important;
    justify-content: end !important;
  }

  .navlogo {
    font-size: 18px !important;
  }

  .navlist {
    font-size: 14px !important;
    gap: 15px;
  }

  .sticky-nav {
    width: 95vw !important;
    gap: 1vw !important;
    padding: 12px 15px;
  }

  .getnews {
    width: 161px !important;
    padding: 0px 0px !important;
    font-size: 12px !important;
  }

  .footer_p {
    font-size: 14px !important;
    color: rgba(47, 72, 88, 1) !important;
    width: 95vw;
  }

  .footer_input {
    padding: 6px 165px 6px 18px !important;
    color: black !important;
  }

  .footer-column a {
    margin-bottom: 5px !important;
    font-size: 14px !important;
  }

  .footer-column h4 {
    font-size: 12px !important;
    text-align: center !important;
    margin-bottom: 0 !important;
    letter-spacing: 1px;
  }

  .copyright {
    font-size: 14px !important;
  }

  .footer-left {
    flex-direction: column !important;
    gap: 2px !important;
  }

  .mark {
    margin-top: 25px;
    margin-bottom: 15px;
    flex-direction: column !important;
    align-items: center !important;
  }

  .frammer-plans {
    gap: 45px;
  }

  .blob img {
    transform: rotate(-11deg);
  }

  .blob {
    width: 1400px;
    position: relative;
    margin-top: -228px;
    margin-left: 282px;
  }


  .framer-blob-2 img {
    top: -385px;
    left: -213px;
    transform: rotate(-47deg);
    width: 450px;
  }

  .framer-blob-3 img {
    max-width: 80%;
    top: 281px;
    right: -52px;
    height: auto;
    transform: rotate(153deg);
    width: 370px;
  }

  .framer-blob-4 {
    position: absolute;
    bottom: 7px;
    right: 62px;
    width: 398px;
    transform: rotate(245deg);
  }

  .socialmedia-icon {
    width: 24px !important;
  }

  .AI-para {
    opacity: 1 !important;
    top: 0 !important;
  }

  .rotated-prev-svg {
    width: 22px !important;
    height: 22px !important;
  }

  .rotated-next-svg {
    width: 22px !important;
    height: 22px !important;
  }
}

/* ********************************************************************** */
@media (max-width : 440px) {

  a[data-framer-page-link-current],
  a[data-framer-page-link-current] span:not([data-text-fill]) {
    font-size: clamp(50px, 28.5vw, 126px) !important;
    text-align: left !important;
    white-space: nowrap !important;
    line-height: 0.7 !important;
  }

  .framer-ZfaKR .framer-u1nzgi {
    align-content: flex-start !important;
    max-width: 1213px !important;
    width: 280.5vw !important;
    height: 122vw;
  }

  a.framer-text {
    font-family: Panchang, sans-serif !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 24px !important;
    font-stretch: 100% !important;
    text-transform: uppercase !important;
    opacity: 1 !important;
    letter-spacing: 1px;
  }

  #nav {
    text-transform: uppercase !important;
    display: flex !important;
    gap: 69vw !important;
    align-content: center !important;
    justify-content: center !important;
    padding: 2px !important;
    margin-left: 12px !important;
  }

  .framer_hero_main {
    height: 692px !important;
    justify-content: flex-end !important;
    gap: 40px !important;
  }

  .framer_hero_img {
    max-width: 46vw !important;
  }

  .framer_hero_img2 {
    margin-left: -23vw !important;
    margin-right: -274px !important;
    margin-bottom: 16px !important;
  }


  .logo-carousel {
    height: 110px !important;
  }

  .framer-logo-img {
    width: 100px !important;
  }

  .logo-list {
    gap: 30px !important;
    animation: slideshow 40s linear infinite !important;
  }

  .framer-ZfaKR .framer-1hkre34 {
    height: 150px !important;
    gap: 60px !important;
    padding: 28px 0px !important;
    width: 294% !important;
  }

  .framer-4l2iB .framer-16mwlug-container {
    flex: none !important;
    height: 33px !important;
    position: relative !important;
    width: 24px !important;
  }

  .framer-ZfaKR .framer-tjlozw {
    width: 92.5% !important;
    height: 450px !important;
    padding: 16px !important;
    border-radius: 30px !important;
    margin-top: 172px;
    gap: 15px !important;
  }

  .framer-A6T8P .framer-styles-preset-8d7qqc:not(.rich-text-wrapper) {
    font-size: 28px;
    line-height: 33.6px;
  }

  .framer-ZfaKR .framer-tjloz {
    gap: 15px !important;
  }

  .background-image-wrapper {
    margin: -5px;
  }

  .background-image-wrapper img {
    width: 48.5vw !important;
  }

  .framer_hero_para {
    align-items: center !important;
    height: 130px !important;
  }

  .framer_hero_para p {
    max-width: 85vw !important;
  }

  .phones-row {
    height: 325px !important;
    flex-wrap: nowrap;
    gap: 5px;
    margin-right: 11px;
  }

  .row2 {
    height: 325px !important;
    flex-wrap: nowrap;
    gap: 2px;
    margin-right: 0px;
    margin-top: 38px;
  }

  #parallax-duo {
    margin-top: 46px !important;
    height: 93vw !important;
    margin-bottom: 10px;
  }

  .text-carousel-main {
    justify-content: center !important;
    height: 360px !important;
    gap: 12vw !important;
  }

  #text-carousel {
    height: 425px !important;
    width: 103vw !important;
  }

  .text-content {
    margin-top: 40px;
    z-index: 1;
    width: 85%;
  }

  .Text-carousel-heading {
    width: 75vw !important;
  }

  .Text-carousel-body {
    width: 75vw !important;
  }

  .next-svg,
  .prev-svg {
    height: 25px !important;
    width: 25px !important;
  }

  .download-button {
    margin-top: -90px !important;
    justify-content: center !important;
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .download-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
    padding: 5px !important;
    width: 85vw !important;
    gap: 5px !important;
    /* margin-top: 59px !important; */
  }

  .pagination-controls {
    margin-left: 247px !important;
    margin-top: 38px;
  }

  .pagination-controls2 {
    margin-top: -328px !important;
    margin-left: 77vw !important;

  }

  .framer_image_col {
    gap: 1px !important;
    margin-bottom: 48px;
    max-height: 699px;
    height: 368px;
    margin-top: 2px;
  }

  .trio2 {
    margin-top: 49px;
  }

  .text-block {
    margin-top: 40px;
    font-size: 22px !important;
    line-height: 29.5px !important;
    min-width: 79vw !important;
    margin-left: 13.5px !important;
  }

  .text-block p {
    height: 200px !important;
    margin-top: 14px;
  }

  .Text-heading {
    font-size: 28px !important;
    width: 90vw !important;
    margin-top: 70px;
  }

  #phone-carousel {
    display: none !important;
  }

  .ParallaxPhoneCarousel {
    display: block !important;
    height: 188vw !important;
  }

  .Text-body {
    display: none !important;
  }

  .pricing-text {
    width: 100% !important;
    justify-content: center !important;
    padding: 0px !important;
  }

  .basic_plan {
    padding: 25px 15px !important;
    width: 92vw !important;
    height: 310px !important;
    border-radius: 30px !important;
    gap: 17px !important;
    justify-content: unset !important;
  }

  .price {
    font-size: 28px !important;
  }

  .plans-download-button {
    width: 85vw !important;
    gap: 10px !important;
    padding: 5px 11px !important;
    font-size: 12px !important;
  }

  .plan-feature-svg {
    gap: 10px;
  }

  .svg {
    width: 30px !important;
  }

  .plan,
  .price {
    padding: 0px 14px;
  }

  .plan-features {
    gap: 5px !important;
  }

  .svg1 {
    width: 22px !important;
  }

  .svg2 {
    width: 28px !important;
  }

  .advance_plan {
    padding: 15px 15px !important;
    width: 92vw !important;
    min-width: 300px !important;
    height: 392px !important;
    border-radius: 30px !important;
    gap: 0px !important;
  }

  .framer-blob-3 img {
    top: 333px;
  }

  .frammer-plans {
    gap: 30px;
  }

  .ghoBeu {
    padding: 2px !important;
    width: 390px !important;
  }

  .iLjptn {
    padding: 1px !important;
    font-size: 14px !important;
  }

  .jnUJPg {
    padding: 5px !important;
    font-size: 14px !important;
  }

  .pointvalue {
    font-size: 12px !important;
  }

  .Text-carousel-heading2 {
    width: 85vw !important;
    font-size: 22px !important;
  }

  .text-carousel-main2 {
    width: 85vw !important;
    // margin-top: 50px;
  }

  .Text-carousel-body2 {
    line-height: 23px !important;
    margin-top: 15px !important;
    width: 70vw !important;
  }

  .banner-section {
    z-index: 10;
    margin-top: 28px;
  }

  .banner-section2 {
    height: 490px !important;
  }

  .framer_hero_para2 {
    padding: 0px !important;
    // height: 154px !important;
  }

  .framer_hero_main2 {
    justify-content: start !important;
    align-items: center !important;
    width: 100% !important;
    gap: 0px !important;
    height: 520px !important;
  }

  .framer_hero_button2 {
    padding: 6px 26px !important;
    width: 85vw !important;
    font-size: 12px;
    margin-top: 20px;
  }

  .trio2 {
    margin-top: 78px !important;
  }

  .framer_hero_button {
    padding: 6px 26px !important;
    width: 85vw !important;
    font-size: 12px;
  }

  .framer_hero_button svg {
    width: 24px !important;
  }

  .framer2_hero_img2 {
    margin-left: -23vw !important;
    margin-right: -261px !important;
  }

  .framer-text2 {
    font-size: 110px !important;
    margin-left: 400px !important;
  }

  .getnews {
    width: 150px !important;
    padding: 0px 0px !important;
    font-size: 12px !important;
  }

  .footer_input {
    padding: 7px 158px 7px 18px !important;
    color: black !important;
  }

  .footer-column a {
    margin-bottom: 5px !important;
    font-size: 14px !important;
  }

  .footer-column h4 {
    font-size: 12px !important;
    text-align: center !important;
    margin-bottom: 0 !important;
  }

  .copyright {
    font-size: 14px !important;
  }

  .features {
    display: none !important;
  }

  .sticky-nav {
    height: 50px !important;
  }

  .scroll-circle {
    width: 90vw;
  }

  #download2 {
    width: 90vw !important;
    height: 645px !important;
    margin-bottom: 8px;
  }

  .framer_hero_para2 p {
    line-height: 1.2;
    margin-bottom: 0px;
    width: 85vw !important;
  }

  .navlogo {
    font-size: 18px !important;
  }

  .navlist {
    font-size: 14px !important;
  }

  .icon-container svg {
    width: 24px !important;
  }

  .footer-left {
    flex-direction: column !important;
    gap: 2px !important;
  }

  .footer_p {
    font-size: 14px !important;
    color: rgba(47, 72, 88, 1) !important;
    width: 90vw;
  }


  .footer {
    padding: 40px 20px;
  }

  .footer-container {
    margin-top: -10px;
  }

  .mark {
    flex-direction: column !important;
    align-items: center !important;
  }

  .icons {
    gap: 30px;
  }

  .framer-blob-2 img {
    top: -385px;
    left: -54vw;
    transform: rotate(-47deg);
    width: 430px;
    max-width: 2400px;
  }


  .blob {
    width: 1400px;
    position: relative;
    margin-top: -212px;
    margin-left: 312px;
  }

  .framer-blob-4 {
    position: absolute;
    bottom: 7px;
    right: 412px;
    width: 398px;
    transform: rotate(245deg);
  }

  #download {
    position: relative;
    max-width: 1400px;
    height: 550px;
    padding: 5px 10px 10px;
  }

  #text-carousel2 {
    margin-top: 0;
    margin-bottom: 0;
    height: 315px !important;
  }

  #download2 {
    height: 172vw !important;
  }

}

@media (max-width : 400px) {
  .ParallaxPhoneCarousel {
    height: 183vw !important;
  }

  #download2 {
    height: 177vw !important;
  }
}

// @media (max-width: 390px) {
//   .framer_hero_main {
//     height: 700px !important;
//     gap: 50px !important;
//   }
// }